<section class="banner d-none">
   <div class="container-fluid">
      <div id="carouselExampleIndicators" class="carousel slide position-relative" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item position-relative active">
               <img class="d-block w-100" src="{{'home-banner.jpg' | file_url}}" alt="">
               <div class="box-white bg-white">
                  <h2 class="heading">christmas gifts available online now
                  </h2>
                  <p class="fs-16">we've put together some great gift boxes so you can treat your loved ones to some delicious sharpham classics this christmas!</p>
                  <a href="" class="btn btn-green">Shop Now</a>
               </div>
            </div>
            <div class="carousel-item position-relative">
               <img class="d-block w-100" src="{{'home-banner.jpg' | file_url}}" alt="">
               <div class="box-white bg-white">
                  <h2 class="heading">christmas gifts available online now
                  </h2>
                  <p class="fs-16">we've put together some great gift boxes so you can treat your loved ones to some delicious sharpham classics this christmas!</p>
                  <a href="" class="btn btn-green">Shop Now</a>
               </div>
            </div>
            <div class="carousel-item position-relative">
               <img class="d-block w-100" src="{{'home-banner.jpg' | file_url}}" alt="">
               <div class="box-white bg-white">
                  <h2 class="heading">christmas gifts available online now
                  </h2>
                  <p class="fs-16">we've put together some great gift boxes so you can treat your loved ones to some delicious sharpham classics this christmas!</p>
                  <a href="" class="btn btn-green">Shop Now</a>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
         <span class="" aria-hidden="true"><img src="{{'arw-left.svg' | asset_url}}" class="img-fluid" alt=""></span>
         <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
         <span class="" aria-hidden="true"><img src="{{'arw-right.svg' | asset_url}}" class="img-fluid" alt=""></span>
         <span class="sr-only">Next</span>
         </a>
      </div>
   </div>
</section>
<section class="four-boxes d-none">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-3 col-md-6">
            <div class="tour-bx">
               <a href="">
                  <img src="{{'ct-1.jpg' | file_url}}" alt="" class="w-100">
                  <h4>Book or Redeem Tour <img src="{{'long-arrow.svg' | file_url }}" alt="" class="arrow-lg"></h4>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="tour-bx">
               <a href="">
                  <img src="{{'ct-2.jpg' | file_url}}" alt="" class="w-100">
                  <h4>Book or Redeem Tour <img src="{{'long-arrow.svg' | asset_url}}" alt="" class="arrow-lg"></h4>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="tour-bx">
               <a href="">
                  <img src="{{'ct-3.jpg' | file_url}}" alt="" class="w-100">
                  <h4>Book or Redeem Tour <img src="{{'long-arrow.svg' | asset_url}}" alt="" class="arrow-lg"></h4>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="tour-bx">
               <a href="">
                  <img src="{{'ct-4.jpg' | file_url}}" alt="" class="w-100">
                  <h4>Book or Redeem Tour <img src="{{'long-arrow.svg' | asset_url}}" alt="" class="arrow-lg"></h4>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="award-area d-none">
   <div class="container-fluid">
      <h2>Award Winning British Sharpham Wine from Sandridge Barton Vineyard, Devon</h2>
      <p>Classic English wines are produced at Sharpham vineyard as a result of a happy marriage of soil, climate and grape variety known as terroir, and nature has bestowed her gifts freely upon us here at Sharpham. In the winery, we employ both New World and traditional techniques to best develop our unique regional characteristics. Our tally of International Awards confirms our position as one of England's foremost quality wine producers. We invite you to visit, sample, and make up your own minds about our fine English wine.</p>
      <img src="{{'award-logos.png' | file_url}}" alt="" class="mx-auto d-block mt-3" />
   </div>
</section>
<section class="product-slider d-none">
   <div class="container-fluid">
      <h2>Favourite Picks</h2>
      <div class="main-content position-relative">
         <div class="owl-carousel owl-theme">
            <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
            <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
           <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
           <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
           <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
            <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
           <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
           <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
            <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
            <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
            <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
            <div class="item">
               <div class="box mb-2">
                  <a href="">   <img src="{{'btl-img.png' | file_url}}"></a>
                  <ul class="icon">
                     <li><a href="#"><img src="{{'cart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'heart-p.svg' | asset_url}}" alt="" /></a></li>
                     <li><a href="#"><img src="{{'plus-p.svg' |asset_url}}" alt="" /></a></li>
                  </ul>
               </div>
               <a href="">
                  <h3>Sharpham Dart Valley Reserve</h3>
               </a>
               <p class="mb-0"><span>Bottle</span> £14.00</p>
               <p><span>Case</span> £14.00 <span class="text-danger"><del>$180.00</del></span></p>
            </div>
         </div>
         <div class="owl-theme">
            <div class="owl-controls">
               <div class="custom-nav owl-nav"></div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="evironment d-none">
   <div class="container-fluid">
      <div class="grey-bx">
         <div class="row">
            <div class="col-lg-5 col-md-12">
               <div class="text-bx">
                  <h3>Keeping The Rural Environment Alive</h3>
                  <p>Classic English wines are produced at Sharpham vineyard as a result of a happy marriage of soil, climate and grape variety known as terroir, and nature has bestowed her gifts freely upon us here at Sharpham. In the winery, we employ both New World and traditional techniques to best develop our unique regional characteristics. Our tally of International Awards confirms our position as one of England's foremost quality wine producers. We invite you to visit, sample, and make up your own minds about our fine English wine.</p>
                  <a href="" class="btn-shop">Shop Now</a>
               </div>
            </div>
            <div class="col-lg-7 col-md-12">
               <div class="position-area">
                  <img src="{{'env.jpg' | file_url}}" alt="" class="w-100 dsk-screen" />
                  <img src="{{'env-large.jpg' | file_url}}" alt="" class="w-100 big-screen" />
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="kitchen-area d-none">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-5 pr-lg-0 col-md-12">
            <div class="door-bx">
               <img src="{{'door-k.jpg' | file_url}}" alt="" class="w-100" />
               <div class="k-caption">
                  <h5>The Cellar Door Kitchen</h5>
                  <p>Excellent food overlooking the river Dart</p>
                  <a href="" class="brd-btn">View Menu & Times</a>
               </div>
            </div>
         </div>
         <div class="col-lg-7 col-md-12">
            <div class="cheese-bx">
               <img src="{{'cheese.jpg' | file_url}}" alt="" class="w-100" />
               <div class="k-caption">
                  <h5>Our Award-winning Handmade Cheese</h5>
                  <a href="" class="brd-btn mb-0">View Our Cheeses</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="wine-cheese d-none">
   <div class="container-fluid">
      <div class="w-box clearfix">
         <h3>Wine wine & Cheese Tasting Tours Like no other</h3>
         <p>Book a Tour Now or Buy a gift Voucher Now</p>
         <ul class="list-area">
            <li><a href="" class="green-bt">Book a Tour</a></li>
            <li><a href="" class="white-bt">Gift a Tour</a></li>
            <li><a href="" class="bd-bt">Read More</a></li>
         </ul>
      </div>
   </div>
</section>
<section class="award-cheese text-center d-none">
   <div class="container-fluid">
      <h4>Our Award Winning Wines & Cheeses</h4>
      <img src="{{'award-logos.png' | file_url}}" alt="" class="mx-auto d-block" />
      <ul class="two-btns clearfix">
         <li><a href="" class="shop-now">Shop Now</a></li>
         <li><a href="" class="view-now">View Our Awards</a></li>
      </ul>
   </div>
</section>
<section class="section-news section d-none">
   <div class="container">
      <h2 class="text-center">Latest News</h2>
      <div class="row justify-content-center">
         <div class="col-md-3 col-md-4">
            <div class="card shadow-sm border-0">
               <a href=""> <img class="card-img-top rounded" src="{{'newz-1.jpg' | file_url}}"></a>
               <div class="card-body">
                  <small class="fs-12"><img src="{{'pen.svg' | asset_url}}" class="img-fluid mr-1" alt="">Tom Wedgery <br class="visible-md">
                  <img src="{{'calen.svg' | asset_url}}" class="img-fluid ml-lg-2 mr-1" alt="">4 November, 2021</small>
                  <h4 class="card-heading">Harvest 2021 Review</h4>
                  <p>As our harvest comes to a close in the coming days, we thought it would be a good time to reflect back over the past few weeks and to let you all know...</p>
                  <a href="" class="text-green read-more">Read More</a>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-md-4">
            <div class="card shadow-sm border-0">
               <a href=""> <img class="card-img-top rounded" src="{{'newz-2.jpg' | file_url}}"></a>
               <div class="card-body">
                  <small class="fs-12"><img src="{{'pen.svg' | asset_url}}" class="img-fluid mr-1" alt="">Tom Wedgery <br class="visible-md">
                  <img src="{{'calen.svg' | asset_url}}" class="img-fluid ml-lg-2 mr-1" alt="">4 November, 2021</small>
                  <h4 class="card-heading">Harvest 2021 Review</h4>
                  <p>As our harvest comes to a close in the coming days, we thought it would be a good time to reflect back over the past few weeks and to let you all know...</p>
                  <a href="" class="text-green read-more">Read More</a>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-md-4">
            <div class="card shadow-sm border-0">
               <a href=""> <img class="card-img-top rounded" src="{{'newz-1.jpg' | file_url}}"></a>
               <div class="card-body">
                  <small class="fs-12"><img src="{{'pen.svg' | asset_url}}" class="img-fluid mr-1" alt="">Tom Wedgery <br class="visible-md">
                  <img src="{{'calen.svg' | asset_url}}" class="img-fluid ml-lg-2 mr-1" alt="">4 November, 2021</small>
                  <h4 class="card-heading">Harvest 2021 Review</h4>
                  <p>As our harvest comes to a close in the coming days, we thought it would be a good time to reflect back over the past few weeks and to let you all know...</p>
                  <a href="" class="text-green read-more">Read More</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% schema %}
  {
    "name": "HomePage Section",
    "settings": [
	],
     "presets": [
    {
      "name": "HomePage Section",
      "category": "HOME DYNAMIC SECTION",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}
