{%section 'banner-single-tour' %}
{%section 'guided-tasting-tour' %}
{%section 'tour-calender-section' %}
{%section 'guide-img-with-text' %}
{%section 'guide-img-section' %}

<section class="main-banner d-none">
   <div class="container-fluid">
      <img src="{{'single-tour.jpg' | file_url}}" alt="" />
   </div>
</section>
<section class="two-bx d-none">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-6 col-md-12">
            <div class="max-w guide">
               <h1>Guided Tasting Tour</h1>
               <h4>Wine and cheese tasting, plus a self guided walk around the scenic vineyard, what could be better?</h4>
               <div class="p-spc">
                  <span>Price</span>
                  <h5>£15 per person</h5>
               </div>
               <div class="p-spc">
                  <span>Quantity</span>
                  <h5>Up to 15 People</h5>
               </div>
               <div class="p-spc">
                  <span>Duration</span>
                  <h5>1 hour 30 minutes</h5>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-12">
            <div class="g-tour">
               <img src="{{'guided-tour.jpg' | file_url}}" alt="" class="w-100" />
            </div>
         </div>
      </div>
   </div>
</section>
<section class="cal-area d-none">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-6 col-md-12">
            <div class="calendr">
               <h3>Book A Tour</h3>
               <div id="multiple" class="article">
                  <div class="multi-select-calendar"></div>
                  <ul class="date-area clearfix">
                     <li>
                        <div class="selectBox">
                           <div class="selectBox__value">12.00pm - 1.30pm</div>
                           <div class="dropdown-menu">
                              <a href="javascript:void(0)" class="dropdown-item active">12.00pm - 1.30pm</a>
                              <a href="javascript:void(0)" class="dropdown-item">2.00pm - 2.30pm</a>
                              <a href="javascript:void(0)" class="dropdown-item">3.00pm - 3.30pm</a>
                              <a href="javascript:void(0)" class="dropdown-item">4.00pm - 4.30pm</a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="selectBox caln">
                           <div class="selectBox__value">November, 25</div>
                           <div class="dropdown-menu">
                              <a href="javascript:void(0)" class="dropdown-item active">November, 26</a>
                              <a href="javascript:void(0)" class="dropdown-item">November, 27</a>
                              <a href="javascript:void(0)" class="dropdown-item">November, 28</a>
                              <a href="javascript:void(0)" class="dropdown-item">November, 29</a>
                              <a href="javascript:void(0)" class="dropdown-item">November, 30</a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="selectBox">
                           <div class="selectBox__value">2 Adults</div>
                           <div class="dropdown-menu">
                              <a href="javascript:void(0)" class="dropdown-item active">3 Adults</a>
                              <a href="javascript:void(0)" class="dropdown-item">4 Adults</a>
                           </div>
                        </div>
                     </li>
                  </ul>
                  <a href="" class="book-tour">£32 - Book Now</a>
               </div>
            </div>
            <div class="voucher">
               <h3>Rather gift this tour, or not ready to book yet?</h3>
               <a href="" class="gift-btn">Buy Gift Voucher</a>
            </div>
         </div>
         <div class="col-lg-6 col-md-12">
            <div class="cow-img">
               <img src="{{'cow-img-two.jpg' | file_url}}" alt="" class="w-100 big-screen" />
               <img src="{{'cow-dsk.jpg' | file_url}}" alt="" class="w-100 dsk-screen" />
            </div>
         </div>
      </div>
   </div>
</section>
<section class="guide-new d-none">
   <div class="container-fluid">
      <div class="guide-c">
         <img src="{{'guide-new.jpg' | file_url}}" alt="" class="w-100" />
         <div class="guide-bxx">
            <h3>An informal, guided tasting of four wines, two cheese and includes entry to the vineyard.</h3>
            <p>Here you will receive a map of the vineyard where you can follow the various routes we have set up through the vines and down to the River Dart.</p>
            <p>We also offer an informed tasting of four wines and two cheeses and give you an insight into the wine making processes here at Sharpham.</p>
            <p>The vineyard walk can take as little as 30 minutes but as long as an hour so allow yourself enough time to get back for the tasting which will last for a further 45 minutes.</p>
            <p>Booking is essential as the maximum number for a tasting is 15 people. Please scroll down for booking calendar or to purchase this option as a gift.</p>
         </div>
      </div>
   </div>
</section>
<section class="btimg d-none">
   <div class="container-fluid">
      <img src="{{'bt-img.jpg' | file_url}}" alt="" class="w-100" />
   </div>
</section>

text