
<div class="modal fade" id="bottle-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <img class="d-block w-100" src="{{'single-df.jpg' | asset_url}}" alt="">
      </div>
   
    </div>
  </div>
</div>

<div class="cheese-area-new">
<div class="container-fluid">
  <div class="row">

        <div class="col-lg-6 col-md-12">
          <div class="bottle-desc deft defaulta">
            <h3>Family & Friends Virtual Wine & Cheese Tasting</h3>
            <p>Family & Friends Cheese & Wine Tasting Event (online) for £75.00.</p>

<p>Christmas Special – buy this package as a gift for friends and we will send a ‘golden ticket’ (voucher) along with a ‘waiters friend’ and Sharpham tote bag, to arrive before Christmas. Last dispatch pre-xmas will be on Monday 20th December.</p>
            <div class="prc">£75</div>     
          <form class="form cf">
      <section class="plan cf">

        
        <h5>Extras</h5>
            <ul class="radio-line two clearfix">
        <li>
        <input  type="radio" name="radio2" id="freet" value="free"><label class="free-label four col" for="freet">Add Sharpham Rustic - £5</label>
        </li> 
        </ul>
        <ul class="sp-q clearfix">
 
          <li><a href="" class="big-btn">£16 - Add to Basket</a></li>
                 <li> <div class="sp-quantity">
                   <div class="sp-plus fff"> <a class="ddd" href="javascript:void(0);"><i class="fa fa-angle-up" aria-hidden="true"></i><span class="d-none">+</span></a>
        
          <div class="sp-input">
            <input type="text" class="quntity-input" value="1" />
          </div>
         <div class="sp-minus fff"> 
           <a class="ddd" href="javascript:void(0);"><i class="fa fa-angle-down" aria-hidden="true"></i><span class="d-none">-</span></a>
          </div>
          </div>
          </div> </li>
        </ul>
        <span>£9.50 standard delivery rate or free shipping on orders over £120</span>
        

     
        
        </section>
            </form>
       
</div>
    </div>
        <div class="col-lg-6 col-md-12">
      <div class="img-box-bottle right-a">
        <a class="box-search" href="" data-toggle="modal" data-target="#bottle-pop"> <img src="{{'long-search.svg' | asset_url}}" class="search-iconz"></a>
     <img class="d-block w-100" src="{{'single-deft.png' | asset_url}}" alt="">
      </div>
</div>
  </div>
  </div>
  </div>

<section class="two-imgs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="t-bx"><img src="{{'d1.jpg' | asset_url}}" class="w-100"></div>
      </div>
      <div class="col-md-6">
      <div class="t-bx">
          <div class="t-bx"><img src="{{'d2.jpg' | asset_url}}" class="w-100"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="new-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 col-lg-12">
        <div class="box-es">
          <h3>More Info</h3>
          <p>
          Join Greg Parsons, owner of Sharpham Cheese and Tom Wedgery, winemaker and expert from Sharpham Wine on 4th February for our first tasting event of 2022. </p>

 <p>Along with cheeses and wines from Sharpham, we will also feature beer from our South Devon neighbours New Lion Brewery and guest cheeses from Quickes and Ticklemore Dairy, plus crackers and chutney for good measure, enough for 6 people (depending on how thirsty you are!). </p>

 <p>Greg & Tom will guide you through the tastings, with lots of fun and facts along the way. </p>

 <p>The ‘tasting box’ will arrive a day or two before the event and we’ll send you a Zoom link by separate email. </p>

 <p>If you would like to join the Zoom session without buying the Tasting Box, you’d be very welcome. Just drop an email to info@sharphamcheese.co.uk with Zoom Tasting in the subject line and we will add your email to the list. </p>

 <p>The tasting box includes: Cheeses from Sharpham will be Washbourne & our all new Camembert, plus Devon Blue from just up the road and Devonshire Red from Quickes. For drinks Tom has selected Sharpham New Release 2021 and Pinot Gris 2020, plus Pandit IPA from New Lion Brewery. For company we’ll include one of our Sharpham chutneys and a couple of packets of Peters Yard Sourdough Crackers, plus your Sharpham tote bag and waiters friend. </p>
         
        </div>
        </div>
      <div class="col-xl-7 col-lg-12">
        <div class="t-bx"><img src="{{'d5.jpg' | asset_url}}" class="w-100"></div>
      </div>
    </div>
  </div>
</section>


<section class="two-imgs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="t-bx"><img src="{{'d3.jpg' | asset_url}}" class="w-100"></div>
      </div>
      <div class="col-md-6">
      <div class="t-bx">
          <div class="t-bx"><img src="{{'d4.jpg' | asset_url}}" class="w-100"></div>
        </div>
      </div>
    </div>
  </div>
</section>