<div class="modal fade" id="bottle-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <img class="d-block w-100" src="{{'single-vc.png' | asset_url}}" alt="">
      </div>
   
    </div>
  </div>
</div>

<div class="cheese-area-new">
<div class="container-fluid">
  <div class="row">

        <div class="col-lg-6 col-md-12">
          <div class="bottle-desc deft vc">
            <h3>Guided Tasting Gift Voucher</h3>
          <p> This e-gift voucher entitles the holder to a Guided Tasting at Sandridge Barton Wines.</p>

<p>The Guided Tasting is a friendly, causal group tasting of four wines and two cheeses, led by one of our team, which will take approximately an hour.</p>

<p>Booking is essential as the maximum number for a tasting is 12 people.</p>

            <p>Please choose to either send this e-voucher directly to the recipient, or to print it off yourself.</p>           <div class="prc mb-vc">£15 <span>per person</span></div>     
          <form class="form cf">
      <section class="plan cf">

        
        <h5 class="d-none">Extras</h5>
            <ul  class="d-none radio-line two vc-new clearfix">
        <li>
        <input  type="radio" name="radio2" id="freet" value="free"><label class="free-label four col" for="freet">Add Sharpham Rustic - £5</label>
        </li> 
        </ul>
      
 
         <button class="big-btn"  type="button" data-toggle="modal" data-target="#voucherModal">£16 - Add to Basket</button>
          
     
        <span>This voucher is delivered digitally</span>
        

     
        
        </section>
            </form>
       
</div>
    </div>
        <div class="col-lg-6 pl-lg-0 col-md-12">
      <div class="img-box-bottle right-a mt-vc">
        <a class="box-search" href="" data-toggle="modal" data-target="#bottle-pop"> <img src="{{'long-search.svg' | asset_url}}" class="search-iconz"></a>
     <img class="d-block w-100" src="{{'single-vc.png' | asset_url}}" alt="">
      </div>
</div>
  </div>
  </div>
  </div>

<section class="two-imgs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="t-bx mrg-30"><img src="{{'vc-1.jpg' | asset_url}}" class="w-100"></div>
      </div>
      <div class="col-md-5">
      <div class="t-bx">
          <div class="t-bx"><img src="{{'vc-2.jpg' | asset_url}}" class="w-100"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="new-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 col-lg-12">
        <div class="box-es">
          <h3>More Info</h3>
          <p>
            A voucher entitling the recipient a friendly, causal tasting of four wines and two cheeses, led by one of our team. You'll learn about the different grape varieties we grow and the techniques we use in the vineyard and winery to craft each style of wine.</p>
<p>The tastings will be in groups of maximum 12 people and last about one hour. There will be two tastings per day throughout the peak season.
</p>
          <p>For more information, please check out our <a href="" class="green-link">Guided Tasting</a>.   </p>   
        </div>
        </div>
      <div class="col-xl-7 col-lg-12">
        <div class="t-bx"><img src="{{'glasses.jpg' | asset_url}}" class="w-100"></div>
      </div>
    </div>
  </div>
</section>


<section class="two-imgs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="t-bx mrg-30"><img src="{{'vc-3.jpg' | asset_url}}" class="w-100"></div>
      </div>
      <div class="col-md-6">
      <div class="t-bx">
          <div class="t-bx"><img src="{{'vc-4.jpg' | asset_url}}" class="w-100"></div>
        </div>
      </div>
    </div>
  </div>
</section>